body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  user-select: none;
}

@font-face {
  font-family: bubble;
  src: url("../bubble.otf") format("opentype");
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #e0e0e0;
  }
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: 20px;
}

.name-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  text-transform: uppercase;
  font-family: bubble;
  border-radius: 5px;
}

.letter-box.large {
  background-color: #c4ddff;
  color: #2c9aff;
  width: 3vw;
  height: 3vw;
  font-size: 3vw;
}

.letter-box.small {
  background-color: #c4ddff;
  color: #66abf9;
  width: 1vw;
  height: 1vw;
  font-size: 0.75vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1vw);
  grid-template-rows: repeat(3, 1vw);
  gap: 5px;
  margin-left: 20px;
}

.grid-container .grid-item:hover > img {
  display: block;
}

.grid-container .grid-item:hover {
  background-color: white;
}

.grid-item {
  background-color: #eeeeee;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.grid-item img {
  display: none;
  width: 24px;
  height: auto;
  border-radius: 4px;
}

#comparify img {
  width: 24px;
  height: auto;
}

@media (max-width: 600px) {
  .letter-box.large {
    width: 10vw;
    height: 10vw;
    font-size: 7vw;
  }

  .letter-box.small {
    width: 5vw;
    height: 5vw;
    font-size: 3vw;
  }

  .grid-container {
    grid-template-columns: repeat(3, 6vw);
    grid-template-rows: repeat(3, 6vw);
    gap: 3vw;
  }
}

@media (min-width: 601px) and (max-width: 1248px) {
  .letter-box.large {
    width: 8vw;
    height: 8vw;
    font-size: 6vw;
  }

  .letter-box.small {
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
  }

  .grid-container {
    grid-template-columns: repeat(3, 4vw);
    grid-template-rows: repeat(3, 4vw);
    gap: 2vw;
  }
}
