body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

@font-face {
  font-family: bubble;
  src: url("../bubble.otf") format("opentype");
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: hsla(0, 0%, 7%, 1);
  }

  .resizable-textarea {
    background-color: black;
    color: white;
  }

  .button {
    background-color: black !important;
    color: white;
  }

  .invert-dark {
    filter: invert(1) !important;
  }

  .gpt_response {
    color:white;
  }

  .button:hover {
    color:lightgray !important;
    }


}

@media (prefers-color-scheme: light) {
  body {
    /* background-color: hsla(0, 0%, 7%, 1); */
  }

  /* .invert-dark {
    filter: invert(1) !important;
  } */
}

img {
  pointer-events: none;
}

.name {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #bdf6d9;
  color: #1e90ff;
  font-family: "bubble";
  font-size: 30px;
  border-radius: 15px;
  margin: auto;
  width: 220px;
  padding: 7px 3px;
  margin-bottom: 3vh;
}

.firstname span:hover {
  font-size: 40px;
}

.lastname span:hover {
  font-size: 15px;
}

.firstname span,
.lastname span {
  transition: font-size 1s;
}

.links a {
  text-decoration: none;
  font-weight: bold;
  color: gray;
  padding: 3px;
  border-radius: 10px;
  width: fit-content;
  opacity: 0;
  transition: opacity 0.5s;
}

.links img {
  padding: 3px;
  border-radius: 7px;
  filter: grayscale(100%);
}

.links span:not(:last-child) {
  margin-right: 5px;
}

.links span {
  position: relative;
  bottom: 0;
  transition: bottom 0.5s ease;
}

.links span:hover {
  bottom: 5px;
}

.links span:hover img {
  filter: grayscale(0%);
}

.myInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 44vw;
  padding: 20px 10px;
  border-radius: 20px;
}

@media (max-width: 1000px) {
  .myInfo {
    width: 80vw;
  }
}
@media (max-width: 600px) {
  .myInfo {
    width: 93vw;
  }

  .text {
    margin-top: 20px;
  }
}

.zoom {
  transition: transform 1s;
}

.zoom:hover {
  transform: scale(1.2);
  cursor: zoom-in;
}

.text {
  color: #656565;
  font-size: 13px;
}

.links {
  font-size: 13px;
  margin: 20px auto 0px auto;
}

.lastname {
  font-size: 11px;
}

@keyframes pulse {
  0% {
    font-size: 100%;
  }
  50% {
    font-size: 125%;
  }
  100% {
    font-size: 100%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pulse1,
.pulse2,
.pulse3,
.pulse4,
.pulse5,
.pulse6,
.pulse7,
.pulse8,
.pulse9,
.pulse10,
.pulse11,
.pulse12 {
  animation: pulse 500ms ease-out;
}

.pulse1 {
  animation-delay: 0ms;
}

.pulse2 {
  animation-delay: 50ms;
}

.pulse3 {
  animation-delay: 100ms;
}

.pulse4 {
  animation-delay: 150ms;
}

.pulse5 {
  animation-delay: 200ms;
}

.pulse6 {
  animation-delay: 250ms;
}

.pulse7 {
  animation-delay: 300ms;
}

.pulse8 {
  animation-delay: 350ms;
}

.pulse9 {
  animation-delay: 400ms;
}

.pulse10 {
  animation-delay: 450ms;
}

.pulse11 {
  animation-delay: 500ms;
}

.pulse12 {
  animation-delay: 550ms;
}

.pulse13,
.pulse14,
.pulse15,
.pulse16,
.pulse17 {
  animation: show 500ms forwards;
  white-space: nowrap;
}

.pulse13 {
  animation-delay: 1500ms;
}

.pulse14 {
  animation-delay: 1600ms;
}

.pulse15 {
  animation-delay: 1700ms;
}

.pulse16 {
  animation-delay: 1800ms;
}

.pulse17 {
  animation-delay: 1900ms;
}
.intro {
  opacity: 0;
  transition: opacity 0.5s;
  width: 250px;
  margin: 0 auto;
  animation: show 500ms forwards;
  animation-delay: 1000ms;
  font-size: 13px;
  font-weight: 600;
}

.gpt_container {
  margin-top: 50px;
  display: none;
  max-height: 50vh;
  overflow: scroll;
}

.resizable-textarea {
  width: 100%;
  max-width: 500px;
  height: 100px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-color: lightgray;
  padding: 10px;
  border-radius: 10px;
}

.gpt_response {
  margin: 30px auto 0px auto;
  user-select: text !important;
}

.button {
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  font-weight: bold;
  color:rgb(125, 124, 124);
  padding: 4px 10px;
}
.button:hover {
color:rgb(51, 51, 51);
}

#showChatButton:hover {
  cursor: pointer;
}

.clear-buttons {
  margin-bottom: 20px;
}


button[disabled="true"] {
cursor:none;
}