body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: bubble;
  src: url("../bubble.otf") format("opentype");
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}

.name {
  background-color: #bdf6d9;
  color: #1e90ff;
  font-family: "bubble";
  font-size: 30px;
  border-radius: 15px;
  margin: auto;
  width: 220px;
  padding: 7px 3px;
  margin-bottom: 5vh;
}

.firstname span:hover {
  font-size: 40px;
}

.lastname span:hover {
  font-size: 18px;
}

.firstname span,
.lastname span {
  transition: font-size 0.5s;
  cursor: zoom-in;
}

.links a {
  text-decoration: none;
  font-weight: bold;
  color: gray;
  padding: 3px;
  border-radius: 10px;

  opacity: 0;
  transition: opacity 0.5s;
}

.links a:not(:first-child) {
  margin-left: 30px;
}

.links a:hover {
  background-color: #ececec;
  color: black;
}

.myInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 44vw;
  font-weight: 550;
  padding: 20px 10px;
  border-radius: 20px;
 
}

@media (max-width: 1000px) {
  .myInfo {
    width: 80vw;
  }
}
@media (max-width: 600px) {
  .myInfo {
    width: 93vw;
  }

  .text {
    /* transform: scale(0.9); */
    margin-top: 20px;
  }

  [data-tooltip]:after {
    transform: translateX(-80%) !important;
  }
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.2);
}

.text {
  color: #656565;
  font-size: 13px;
}

.links {
  font-size: 13px;
  margin: 20px auto 0px auto;
}

.lastname {
  font-size: 13px;
}

@keyframes pulse {
  0% {
    font-size: 100%;
  }
  50% {
    font-size: 125%;
  }
  100% {
    font-size: 100%;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pulsate1,
.pulsate2,
.pulsate3,
.pulsate4,
.pulsate5,
.pulsate6,
.pulsate7,
.pulsate8,
.pulsate9,
.pulsate10,
.pulsate11,
.pulsate12 {
  animation: pulse 500ms ease-out;
}

.pulsate1 {
  animation-delay: 0ms;
}

.pulsate2 {
  animation-delay: 50ms;
}

.pulsate3 {
  animation-delay: 100ms;
}

.pulsate4 {
  animation-delay: 150ms;
}

.pulsate5 {
  animation-delay: 200ms;
}

.pulsate6 {
  animation-delay: 250ms;
}

.pulsate7 {
  animation-delay: 300ms;
}

.pulsate8 {
  animation-delay: 350ms;
}

.pulsate9 {
  animation-delay: 400ms;
}

.pulsate10 {
  animation-delay: 450ms;
}

.pulsate11 {
  animation-delay: 500ms;
}

.pulsate12 {
  animation-delay: 550ms;
}

.pulsate13,
.pulsate14,
.pulsate15,
.pulsate16 {
  animation: show 500ms forwards;
  white-space: nowrap;
}

.pulsate13 {
  animation-delay: 700ms;
}

.pulsate14 {
  animation-delay: 800ms;
}

.pulsate15 {
  animation-delay: 900ms;
}

.pulsate16 {
  animation-delay: 1s;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  position: absolute;
  transform: translateX(-50%);
  top: 100%;
  padding: 10px;

  width: 140px;
  font-size: 12px;
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  background-color: white;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  border-radius: 20px;
  white-space: normal;
}

[data-tooltip]:hover:after {
  opacity: 1;
}

div[data-tooltip]:after {
  left: 5px !important;
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 13px;
  border-radius: 10px;
  vertical-align: middle;
  animation: greenBg 0.5s ease 1400ms forwards;
  width: 0px;
}

.plus {
  font-size: 0px;
  color: white;
  position: relative;
  bottom: 1px;
  font-weight: bold;
  animation: blueTxt 0.5s ease 1800ms forwards;
}

.circle:hover {
  background-color: #1e90ff !important;
  cursor: cell;
}
.circle:hover > .plus {
  color: #bdf6d9 !important;
}

@keyframes greenBg {
  0% {
    width: 20px;
    height: 13px;
    margin-right: 0ch;
  }
  50% {
    width: 40px;
    height: 20px;
    padding-right: 0px;
  }
  100% {
    margin-right: 0.6ch;
    width: 20px;
    height: 13px;
    background-color: #bdf6d9;
  }
}

@keyframes blueTxt {
  0% {
    font-size: 11px;
  }
  50% {
    font-size: 20px;
  }

  100% {
    font-size: 11px;
    color: #1e90ff;
  }
}

.cu:hover {
  color: black;
  background-color: #cfb87c;
  font-weight: bold;
  padding: 3px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .links a {
    margin-top: 10px;
    margin-left: 0px !important;
  }
}




@media (orientation: landscape) {
.myInfo {
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  min-height: 100vh;
  margin-top: 20vh;
 
}
}