@font-face {
    font-family: bubble;
    src: url("../fonts/bubble.otf") format("opentype");
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }
}
    
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
}

.content {
    padding-top:200px;
}

.name {
    background-color: #bdf6d9;
    color:#1e90ff;
    font-family: "bubble";
    font-size: 30px;
    padding: 0.2rem;
    border-radius: 15px;
    margin: auto;
    width: 225px;  
}

.myInfo {
    width:280px;
    margin: auto;
    text-align: center;
}

.zoom {
     transition: transform .2s;
}
  
.zoom:hover {
    transform: scale(1.2); 
    /* border-radius: 10px; */
}

.text {
    color:#656565; 
}

a {
    padding-right:20px;
    text-decoration: none;
}

img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); 
    width: 20px;
}

img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%); 
    width: 20px;
}

span:hover {
    font-size: 110%;
}

.resume {
    color:#656565;
}

.resume:hover {
    color:#1e90ff
}